<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header') %>

</head>
<body>
  <%- include('nav') %>

  <h2 class="text-center">TV Show Reviews</h2>

  <div class="container">
    <%- include('review_list') %>
  </div>

  <%- include('footer') %>
</body>
</html>