<div id="tv_detail" hidden>
  <div id="poster">
    <img alt="poster" id="poster-img">
  </div>
  <div id="title">example</div>
  <div id="genres"></div>
  <div id="summary"></div>
  <div id="rating"></div>
</div>