<div id="tv_detail" class="container" hidden>
  <div class="row">
    <div class="col-md-auto">
      <img alt="poster" id="poster-img" style="width:300px;">
    </div>
    <div class="col">
      <h1 id="title"></h1>
      <h5><b>Genres:</b>
        <span id="genres"></span>
      </h5>
      <h5>Summary</h5>
      <div id="summary"></div>
      <h6><b>Rating:</b>
        <span id="rating"></span>
      </h6>
      <%- include('review_modal') %>
    </div>
  </div>
</div>